../../../.android/
        ../../../.angulardoc.json
        ../../../.bash_history
        ../../../.cache/
        ../../../.cargo/
        ../../../.codeium/
        ../../../.config/configstore/reactNativeToolsConfig.json
        ../../../.config/jgit/
        ../../../.config/simple-update-notifier/
        ../../../.crossnote/
        ../../../.deno/
        ../../../.emulator_console_auth_token
        ../../../.expo/
        ../../../.git-for-windows-updater
        ../../../.gitconfig
        ../../../.gitignore
        ../../../.gk/
        ../../../.history/
        ../../../.lesshst
        ../../../.m2/
        ../../../.node_repl_history
        ../../../.packettracer
        ../../../.portugol/
        ../../../.rest-client/
        ../../../.rustup/
        ../../../.sonarlint/.sonarlinttmp_11899114921577305728/
        ../../../.sonarlint/.sonarlinttmp_14510517689211420039/
        ../../../.sonarlint/.sonarlinttmp_4834364421062373781/
        ../../../.sonarlint/.sonarlinttmp_5723706159218989593/
        ../../../.sonarlint/.sonarlinttmp_6337273079353744374/
        ../../../.sonarlint/.sonarlinttmp_909295113225448238/
        ../../../.sonarlint/known-findings-store3592753881731107527/
        ../../../.sonarlint/known-findings-store5013401390037370396/
        ../../../.sonarlint/known-findings-store5909447543744944040/
        ../../../.sonarlint/storage/
        ../../../.sonarlint/work/
        ../../../.sonarlint/xodus-local-only-issue-store1408420948581699186/
        ../../../.sonarlint/xodus-local-only-issue-store14173879473958611106/
        ../../../.sonarlint/xodus-local-only-issue-store18007276301396091450/
        ../../../.ssh/
        ../../../.sts4/
        ../../../.th-client/
        ../../../.vscode/
        ../../../.vuerc
        ../../../.yarnrc
        ../../../9199564a-e486-42dc-aac0-2aa328d72f17/
        ../../../AI/
        ../../../Angular-forns/
        ../../../AppData/
        ../../../Atendimento_bot/
        ../../../Cavalcantiexpresso/
        ../../../Cisco Packet Tracer 8.2.2/
        ../../../Contacts/
        ../../../Creative Cloud Files/
        ../../../Criando filtro de pesquisa/
        ../../../Curso-React-Udemy/
        ../../../Cursos 2023.2/
        ../../../DesenvolvimentoJava/
        ../../../Desktop/
        ../../2482412_PROVISORIA (1) pesca.pdf
        ../../@echo off.txt
        ../../ACFrOgCIO6mrNTLXQIqypwxEBr6ObZzYrQCC9txORmQoAmZ_p3J2_yp2EJFGvblCE6qGatET0-B-cOmZN6kK-BNhTq_lqTguno5sp-ZABcUTofOaTO8lDtVxIyUQbWRclTFRkUbw-QyLB0sLqCdz.pdf
        ../../API conpleto/
        ../../Arquivo UNIP-MACAPA/
        ../../Arquivos do Outlook/
        ../../BandLab/
        "../../Benef\303\255cio Cart\303\243o Bulla (1).pdf"
        ../../CONTA DE ENERGIA/
        ../../CONTRATO-DESCOMPLICA--2022.pdf
        ../../Cadastro Igreja/
        ../../Captura de tela 2022-09-25 203348.png
        ../../Captura de tela 2022-09-25 205526.png
        ../../CertidaoEmprego_03045760422.pdf
        "../../Certificado em inteligencia e seguran\303\247a/"
        "../../Certificados de Forma\303\247\303\243o/"
        ../../Crud-vendas/
        ../../Curriculo Almelina Cavalcanti (1)[1].pdf
        ../../Curriculo-Luciano.pdf
        ../../Curso Machine Learning com a BairesDev/
        ../../Curso React native/
        ../../Curso basic angularJs.pdf
        ../../DEV/
        ../../DOC PROCESSO SENAI/
        ../../DOC TITULO/
        "../../DOCUMENTO N\302\272 4 - TERMO DE SIGILO BBTS.docx"
        ../../DesenvolvimentoJava/
        ../../Estudos-Java-Alura/
        ../../FormacaoFullsteck/
        ../../GE/
        ../../GitTutorial/
        "../../Grava\303\247\303\265es de som/"
        ../../LGPD- LUCIANO PAIVA CAVALANTI.pdf
        ../../LUCIANO PAIVA.zip
        ../../Livros Da igreja Lagoinha/
        ../../Luciano Paiva Cavalcanti CV.pdf
        ../../LucianoPaivaCavalcantiCV.docx
        ../../Manual-do-Aluno---Descomplica.pdf
        ../../Morais Site Completo com HTML/
        "../../Musical de P\303\241scoa - O Substituto_v2 (1) (1).docx"
        "../../Nui \360\237\222\247 2024 .pdf"
        ../../PDC---Pos-graduaco-em-Analise-e-Desenvolvimento-de-Programas.pdf
        ../../Paz Church/
        ../../Portifolio/
        ../../Prezado,.txt
        ../../Projeto-comercio-digital/
        ../../Projetos_Parceiro_Paris/
        ../../SISTEMa igual ao do bb/
        ../../SQL Server Management Studio/
        ../../Wondershare/
        ../../acessibilidade-web-front-end-1-0115ab16629f4f264184beb291ece993b7246f8c/
        ../../acordo credSyten.pdf
        ../../artigo AI Eugene.pdf
        ../../aula jaqueline Alura.txt
        ../../aula-fuctura/
        ../../boleto carro/
        "../../boleto negocia\303\247\303\243o/"
        ../../boleto_internet/
        ../../bootstrap-templete/
        ../../certificado CCvideira/
        ../../certificados_Alura/
        ../../cnpj/
        ../../comprovante_lucas.pdf
        ../../contracheque.pdf
        ../../contracheques/
        ../../contratos/
        ../../crud.zip
        ../../curriculo luciano word.pdf
        ../../curso Ada-Santander/
        ../../curso de Ingles/
        "../../curso de finan\303\247as/"
        ../../curso de idiomas/
        ../../curso novo de angular/
        ../../curso-angular-teste-unitarios/
        ../../curso-cobol/
        ../../curso-dio-sintaxe-basica-javascript-main/
        ../../curso-java-basico-master.zip
        ../../curso-java-loiane/
        ../../cursoLinkedin/
        ../../cursos.alura.com.br_user_enrollmentDeclaration.pdf
        ../../desktop.ini
        ../../devocionais/
        ../../documentos e materias de estudo global/
        ../../empresa_ifenix/Curriculo Luciano/
        ../../empresa_ifenix/DAS PAGAMENTO/
        ../../empresa_ifenix/Doce e Mel/
        "../../empresa_ifenix/Mural de Ora\303\247\303\243o/"
        ../../empresa_ifenix/NOTA FISCAIS DE COMPRA/
        ../../empresa_ifenix/PROJETOS SITES E APLICATIVOS IFENIX/CCP Paris .txt
        ../../empresa_ifenix/PROJETOS SITES E APLICATIVOS IFENIX/Erros comuns de lojistas ao montar .txt
        ../../empresa_ifenix/PROJETOS SITES E APLICATIVOS IFENIX/LandPage_LucianoCAvalcanti/
        ../../empresa_ifenix/PROJETOS SITES E APLICATIVOS IFENIX/Projeto Posto_imperial/
        ../../empresa_ifenix/PROJETOS SITES E APLICATIVOS IFENIX/Projeto_RECAST_PORTUGAL/
        ../../empresa_ifenix/PROJETOS SITES E APLICATIVOS IFENIX/Prototipo Loja beleza/
        ../../empresa_ifenix/PROJETOS SITES E APLICATIVOS IFENIX/ZionShop2024/
        "../../empresa_ifenix/PROJETOS SITES E APLICATIVOS IFENIX/fun\303\247\303\243o de pesquisa binaria.txt"
        ../../empresa_ifenix/PROJETOS SITES E APLICATIVOS IFENIX/levantamento de requisito/
        ../../empresa_ifenix/PROJETOS SITES E APLICATIVOS IFENIX/logos/
        ../../empresa_ifenix/PROJETOS SITES E APLICATIVOS IFENIX/shop_Candeias/
        ../../empresa_ifenix/PROJETOS SITES E APLICATIVOS IFENIX/whatsboot/
        "../../empresa_ifenix/Perfil do Contribuinte inscri\303\247\303\243o estadual.pdf"
        "../../empresa_ifenix/RECIBO DE DECLARA\303\207\303\225ES_IRRF/"
        ../../empresa_ifenix/RelatorioSituacaoFiscal-12990394000151-20230527.pdf
        ../../empresa_ifenix/RelatorioSituacaoFiscal-12990394000151-20240621.pdf
        "../../empresa_ifenix/TABELA DE PRE\303\207O/"
        "../../empresa_ifenix/cart\303\243o Cnpj/"
        "../../empresa_ifenix/certid\303\243o negativa/"
        ../../empresa_ifenix/cursos SEBRAE/
        "../../empresa_ifenix/das de declara\303\247\303\243o/"
        ../../empresa_ifenix/editais/
        ../../empresa_ifenix/fluxo de caixa/
        ../../empresa_ifenix/planilha-plano-de-negocios/
        ../../empresa_ifenix/projeto-telaTV/
        ../../empresa_ifenix/sistema de estroque/
        ../../full-stack.pdf
        ../../git/
        ../../gnucobol-3.2_win/
        ../../guia do scrum.pdf
        ../../home_para_amauri/
        "../../inscri\303\247oes de concursos/"
        ../../inss_tirada_em_Dez.pdf
        ../../introJS-aula1.zip
        ../../introJS-aula1/
        ../../jobs.jobconvo.com_pt-br_cultural-fit_lucianocavalcanti26@outlook.com_3561230_chart_.pdf
        ../../js factions/
        ../../landPage/
        "../../lista de exercicio de programa\303\247\303\243o.pdf"
        ../../livro que estou escrevendo/
        "../../livros de programa\303\247\303\243o/"
        ../../memoteca_alura/
        "../../ora\303\247\303\243o.txt"
        ../../pagamneto negociado.pdf
        ../../pasta de Certificado da Dio.me/
        ../../pasta_Scrum/
        ../../pendrive/
        "../../pos gradu\303\247\303\243o desenv/"
        ../../projeto atual 710039/
        ../../projeto eperiencia.zip
        ../../prompt/
        "../../prova de declara\303\247\303\243o de matricula.pdf"
        ../../receitas/
        ../../recibo de pagamento/
        ../../smd.txt
        ../../startups/
        ../../termo-LUCIANO PAIVA CAVACLANTI.pdf
        ../../teste-pagina-login/
        ../../testes-unitario/
        ../../todolist.zip
        ../../todolist/
        ../../ts-script-dio/
        ../../typescript-curso-1-arquivos-iniciais/
        ../../../Downloads/desktop.ini
        ../../../FIST-APP/
        ../../../Favorites/
        ../../../IntelGraphicsProfiles/
        ../../../Jogo do Mario Bros/
        ../../../Links/
        ../../../Microsoft/
        ../../../Muse Hub/
        ../../../Music/
        ../../../NTUSER.DAT
        ../../../NTUSER.DAT{abf6a5b9-c67a-11ef-8c57-b85d15c2cfde}.TM.blf
        ../../../NTUSER.DAT{abf6a5b9-c67a-11ef-8c57-b85d15c2cfde}.TMContainer00000000000000000001.regtrans-ms
        ../../../NTUSER.DAT{abf6a5b9-c67a-11ef-8c57-b85d15c2cfde}.TMContainer00000000000000000002.regtrans-ms
        ../../../OneDrive/
        ../../../Pictures/
        ../../../Saved Games/
        ../../../Searches/
        "../../../TESTE BOT\303\203O DISBLED/"
        ../../../Videos/
        ../../../[index
        ../../../angular-projetos/
        ../../../aulas-angular/
        ../../../b[1]
        ../../../bootcamp angular DIO/
        ../../../curriculo online/
        ../../../curso-LeoCodr3/
        ../../../data[index].title)
        ../../../desafio-pessoal/
        ../../../e-commerce/
        ../../../estudo SQL/Estudo-SQL/
        ../../../estudo em C/
        "../../../estudo-documenta\303\247\303\243o-angular/"
        ../../../fluxo-manager/
        ../../../github-actions-formacao-basica-2694122/
        ../../../iCloudDrive/
        ../../../jogo do bloco/
        ../../../login/
        ../../../npm-cache/
        ../../../ntuser.dat.LOG1
        ../../../ntuser.dat.LOG2
        ../../../ntuser.ini
        ../../../numero-secreto/
        ../../../package-lock.json
        ../../../package.json
        ../../../projeto para gerar um csv/
        ../../../projetoVeuJS/
        ../../../query
        ../../../repositorioTest/
        ../../../score[0])
        ../../../sistema de padaria teste/
        ../../../teste de pagina git/
        ../../../teste gpt/
        ../../../three.js/
        ../../../undemy/
        ../../../video.description))
        ../../../video.title
        "../../../\303\201rea de Trabalho - Atalho.lnk"